<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr th:each="pokemon : ${pokemons}">
            <td th:text="${pokemon.id}"></td>
            <td>
                <a th:href="@{/pokemon/{pokemon}(pokemon=${pokemon.name})}" th:text="${pokemon.name}"></a>
            </td>
            <td>
                <img th:src="${pokemon.url}">
            </td>
        </tr>
    </table>
    <a href="/pokemon/types">Go Back</a>
</body>
</html>